<div class="home-page">
    <div class="row justify-content-center w-100">
        <div class="col-3 text-center mt-3 fw-bold main text-primary">
            Welcome To Your Airliens Project
        </div>
    </div>
    <div class="row justify-content-around w-100">
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main">
                <div class="title">
                    Companies
                </div>
                <div>
                    From <span routerLink="/add-company" class="router-text">here</span> you can add your companies.
                </div>
                <div class="mt-1">
                    And you can see your companies and do other operations from
                </div>
                <div class="mt-1">
                    <div routerLink="/companies/airport-managements" class="router-text">Airport Managements</div>
                    <div routerLink="/companies/manufacturers" class="router-text">Manufecturers</div>
                    <div routerLink="/companies/plane-owners" class="router-text">Plane Owners</div>
                    <div routerLink="/companies/ground-services" class="router-text">Ground Services</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main">
                <div class="title">
                    Employees
                </div>
                <div>
                    From <span routerLink="/add-employee" class="router-text">here</span> you can add your employees.
                </div>
                <div class="mt-1">
                    And you can see your employees and do other operations from
                </div>
                <div class="mt-1">
                    <div routerLink="/employees/pilots" class="router-text">Pilots</div>
                    <div routerLink="/employees/cabin-personels" class="router-text">Cabin Personels</div>
                    <div routerLink="/employees/cabin-crews" class="router-text">Cabin Crews</div>
                    <div routerLink="/employees/ground-services-chiefs" class="router-text">Ground Services Chiefs</div>
                    <div routerLink="/employees/ground-services-personels" class="router-text">Ground Services Personels</div>
                    <div routerLink="/employees/ground-services-crews" class="router-text">Ground Services Crews</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main">
                <div class="title">
                    Customers
                </div>
                <div>
                    From <span routerLink="/customers" class="router-text">here</span> you can see your customers.
                </div>
                <div class="mt-1">
                    And you can add your customers , add flights , routes , trips and do other operations from
                </div>
                <div class="mt-1">
                    <div routerLink="/add-customer" class="router-text">Add Customer</div>
                    <div routerLink="/customers/flights" class="router-text">Flights</div>
                    <div routerLink="/customers/payments" class="router-text">Payments</div>
                    <div routerLink="/customers/routes" class="router-text">Routes</div>
                    <div routerLink="/customers/trips" class="router-text">Trips</div>
                </div>
            </div>
        </div>
    </div>
</div>