<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex" style="margin-left: 30px;">
        <div class="navbar-brand c-pointer" routerLink="/home">Airliens</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <div class="nav-link c-pointer" routerLink="/home">Home</div>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Airports</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/airports">Airports</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/add-airport">Add Airport</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Aircrafts</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/aircrafts">Aircrafts</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/add-aircraft">Add Aircraft</a></li>
                <li><span class="dropdown-item c-pointer" data-bs-toggle="modal" data-bs-target="#addAircraftModal" >Add Aircraft Model</span></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Companies</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/companies/airport-managements">Airport Managements</a></li>
                <li><a class="dropdown-item" routerLink="/companies/manufacturers">Manufacturer</a></li>
                <li><a class="dropdown-item" routerLink="/companies/plane-owners">Plane Owners</a></li>
                <li><a class="dropdown-item" routerLink="/companies/ground-services">Ground Services</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/add-company">Add Company</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Employees</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/employees/pilots">Pilots</a></li>
                <li><a class="dropdown-item" routerLink="/employees/cabin-personels">Cabin Personels</a></li>
                <li><a class="dropdown-item" routerLink="/employees/ground-services-chiefs">Ground Services Chiefs</a></li>
                <li><a class="dropdown-item" routerLink="/employees/ground-services">Ground Services</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/add-employee">Add Employee</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Customers</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/customers">Customers</a></li>
                <li><a class="dropdown-item" routerLink="/customers/flights">Flights</a></li>
                <li><a class="dropdown-item" routerLink="/customers/payments">Payments</a></li>
                <li><a class="dropdown-item" routerLink="/customers/routes">Routes</a></li>
                <li><a class="dropdown-item" routerLink="/customers/trips">Trips</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/add-customer">Add Customer</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </nav>