.login{
    margin: 50px 0 50px 0;
}

#password {
	box-sizing: border-box;
    background: #fff;
}

.password-button {
    position: absolute;
    background: #fff;
    color: #6c757d;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

.nationality{
    ::ng-deep .mat-form-field-infix{
        height: 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}