<div class="main login">
    <form [formGroup]="registerForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <div>
                <input [ngClass]="{ 'is-invalid': email?.invalid   && (email?.dirty || email?.touched)}" formControlName="email"
                    type="text" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <div>
                <input [ngClass]="{ 'is-invalid': fullName?.invalid   && (fullName?.dirty || fullName?.touched)}" formControlName="fullName"
                    type="text" class="form-control" id="fullName" placeholder="Full name">
            </div>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <div>
                <input [ngClass]="{ 'is-invalid': age?.invalid   && (age?.dirty || age?.touched)}" formControlName="age"
                    type="number" class="form-control" id="age" placeholder="Age">
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="w-100 position-relative">
                <input #password1 [ngClass]="{ 'is-invalid': password?.invalid   && (password?.dirty || password?.touched)}" formControlName="password"
                    type="password" class="form-control" id="password" placeholder="Password">
                <div class="password-button" (click)="password1.type=='text'?password1.type='password':password1.type='text'">
                    {{password1.type=='text'?'Hide':'Show'}}
                </div>
            </div>
        </div>
    </form>
    <div class="text-center">
        <button class="btn btn-primary w-100" [disabled]="registerForm.invalid" (click)="register()">Create Account</button>
    </div>
    <div class="text-end mt-3">
        Already have an account?  <span class="router-text" routerLink="/login">Login</span>
    </div>
</div>