.nationality{
    ::ng-deep .mat-form-field-infix{
        height: 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        padding: 0.5em 0 1em 0;
    }
}