<div class="row justify-content-center w-100">
    <div class="main col-11 col-xs-11 col-sm-11 col-md-11 col-lg-8 col-xl-8">
        <form [formGroup]="addAirportForm">
            <div class="mb-3">
                <label for="designerName" class="form-label">Airport Management</label>
                <ng-select formControlName="airportManagementId" placeholder="Select management">
                    <ng-option *ngFor="let management of managementList" [value]="management.id">
                        {{management.name+"("+management.contactName+")"}}
                    </ng-option>
                    <ng-template ng-notfound-tmp>
                        <div class="ng-option disabled">
                            No any management found . <span class="router-text" (click)="addManagement()">Click to add management</span>
                        </div>
                      </ng-template>
                </ng-select>
            </div>
            <div class="mb-3">
                <label for="designerName" class="form-label">Name</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': name?.invalid   && (name?.dirty || name?.touched)}" formControlName="name"
                        type="text" class="form-control" id="designerName" placeholder="Name">
                </div>
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': code?.invalid   && (code?.dirty || code?.touched)}" formControlName="code"
                        type="text" class="form-control" id="code" placeholder="Code">
                </div>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': city?.invalid   && (city?.dirty || city?.touched)}" formControlName="city"
                        type="text" class="form-control" id="city" placeholder="City">
                </div>
            </div>
            <div class="mb-2">
                <label for="country" class="form-label">Country</label>
                <div>
                    <mat-select-country class="nationality" autocomplete="no" [value]="defaultValue" appearance="outline" (onCountrySelected)="onCountrySelected($event)" ></mat-select-country>      
                </div>
            </div>
            <div class="mb-3">
                <label for="planeCapacity" class="form-label">Plane Capacity</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': planeCapacity?.invalid   && (planeCapacity?.dirty || planeCapacity?.touched)}" formControlName="planeCapacity"
                        type="number" class="form-control" id="planeCapacity" placeholder="Plane Capacity">
                </div>
            </div>
            <div class="mb-3">
                <label for="yearBuilt" class="form-label">Year Build</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': yearBuilt?.invalid   && (yearBuilt?.dirty || yearBuilt?.touched)}" formControlName="yearBuilt"
                        type="text" class="form-control" id="yearBuilt" placeholder="Year Build" mask="0000">
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-danger" style="margin-right: 20px;" (click)="discard()">Discard changes</button>
                <button class="btn btn-primary" [disabled]="addAirportForm.invalid" (click)="add()">Add</button>
            </div>
        </form>
    </div>
</div>
