<table mat-table [dataSource]="list" class="mat-elevation-z8 demo-table" *ngIf="list.length;else:notFound" style="width: 100%">

    <ng-container [matColumnDef]="col" *ngFor="let col of columns">
      <th mat-header-cell *matHeaderCellDef> {{col}} </th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<ng-template #notFound>
  <div  class="alert alert-secondary  mt-3" role="alert">
    {{tableName}} could not be found. You can add <span routerLink="/add-airport" class="router-text">here</span>
  </div>
</ng-template>