/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "~ngx-toastr/toastr.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
.main{
    margin: 20px 30px 20px 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border:2px solid $gray-400;
}
.router-text{
    cursor: pointer;
    color: $primary;
    font-weight: 600;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c-pointer{
  cursor:pointer
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

.w-40{
  width: 40%;
}

.w-45{
  width: 45%;
}

.h-40{
  height: 40%;
}

.h-45{
  height: 45%;
}

.title{
  color: #8540f5;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}